<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/registration.css}">
</head>
<html>
<body>
<form th:method="POST" th:action="@{/auth/registration}" th:object="${user}">
    <h2>Registration</h2>
    <table>
        <tr>

            <td><input type="text" placeholder="Enter Login" name="login" required th:field="*{login}"/></td>
            <div th:if="${loginError}">
                <div style="color: red" th:text="${loginError}"></div>
            </div>
        </tr>

        <tr>

            <td><input type="text" placeholder="Enter Email" name="email" required th:field="*{email}"/></td>
            <div th:if="${emailError}">
                <div style="color: red" th:text="${emailError}"></div>
            </div>
        </tr>

        <tr>

            <td><input type="password"  placeholder="Enter Password" name="psw" required  th:field="*{password}"/></td>
        </tr>

        <tr>

            <td><input type="password"  placeholder="Confirm Password" name="confrsw" required  th:field="*{confirmPassword}"/></td>
            <div th:if="${passwordError}">
                <div style="color: red" th:text="${passwordError}"></div>
            </div>
        </tr>
        <tr>
            <td><input class="btn" name="submit" type="submit" value="Register" /></td>
        </tr>
    </table>
</form>

</body>
</html>
</html>