<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Progress List</title>
    <link rel="stylesheet" th:href="@{/top_nav.css}">
</head>
<body>

<div id="mySidenav" class="sidenav">
    <form action="./open_list" method="GET">
        <button class="sidelink" type="submit">User</button>
    </form>
    <form action="./create" method="GET">
        <button class="sidelink" type="submit">Add Ticket</button>
    </form>
    <form action="/projects" method="GET">
        <button class="sidelink" type="submit">Projects</button>
    </form>
    <form action="/auth/logout" method="POST">
        <button class="sidelink" id="logout" type="submit">Logout</button>
    </form>
</div>

<div class="topBar">
    <form action="./open_list" method="GET">
        <button class="tablink" type="submit">Open</button>
    </form>
    <form action="./progress_list" method="GET">
        <button class="tablink" type="submit">In Progress</button>
    </form>
    <form action="./close_list" method="GET">
        <button class="tablink" type="submit">Close</button>
    </form>
</div>

<div th:switch="${tickets}" class="tickets">
    <h2 th:case="null">No tickets found!</h2>
    <div th:case="*">
        <h2></h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Priority</th>
                <th>Type</th>
                <th>Open date</th>
                <th>Status</th>
                <th>Reporter</th>
                <th>Assignee</th>
                <th colspan="3" class="actionsTop">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ticket : ${tickets}">
                <td th:text="${ticket.id}"></td>
                <td><a th:text="${ticket.title}" th:href="@{./details/{id}(id=${ticket.id})}"></a></td>
                <td th:text="${ticket.priority}"></td>
                <td th:text="${ticket.type}"></td>
                <td th:text="${ticket.openDate}"></td>
                <td th:text="${ticket.status}"></td>
                <td th:text="${ticket.reporter.login}"></td>
                <td th:text="${ticket.assignee.login}"></td>
                <td><a th:href="@{./update/{id}(id=${ticket.id})}">Edit</a></td>
                <td><a th:href="@{./close/{id}(id=${ticket.id})}">Close</a></td>
                <td><a th:href="@{./delete/{id}(id=${ticket.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p></p>
    <a th:href="@{./create}">Create ticket</a>
</div>
</body>
</html>