<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form action="#" th:action="@{../update}" method="post" id="ticket_form">
    <label for="id">ID</label>
    <input readonly type="number" th:value="${ticket.id}" id="id" name="id" placeholder="ID">
    <br/><br/>
    <label th:for="title">Title</label>
    <input type="text" th:value="${ticket.title}" id="title"/>
    <br/><br/>
    <label th:for="type">Type</label>
    <input readonly type="text" th:value="${ticket.type}" id="type"/>
    <br/><br/>
    <label th:for="status">Status</label>
    <input readonly type="text" th:value="${ticket.status}" id="status"/>
    <br/><br/>
    <th:block th:each="priority : ${T(org.suai.tracker_test.model.Priority).values()}">
        <label th:text="${priority}">PRIORITY</label>
        <span th:if="${ticket.priority != priority}"><input type="radio" th:value="${priority}" name="priority"/></span>
        <span th:unless="${ticket.priority != priority}"><input type="radio" th:value="${priority}" name="priority" checked/></span>
    </th:block>
    <br/><br/>
    <label th:for="openDate">Open date</label>
    <input readonly type="date" th:value="${ticket.openDate}" id="openDate"/>
    <br/><br/>
    <label th:for="reporter">Reporter</label>
    <input type="text" th:value="${ticket.reporter.login}" id="reporter"/>
    <br/><br/>
    <label for="assignee">Assignee</label>
    <input type="text" th:value="${ticket.assignee.login}" id="assignee" name="assignee"/>
    <br/><br/>
    <label for="description">Description</label><br/>
    <textarea id="description" form="ticket_form"
              rows="5" cols="33" th:text="${ticket.description}" name="description">
    </textarea>
    <br/>
    <input type="submit" value="Update Ticket">
</form>
<br/>
<div th:switch="${ticket.status.name()}">
    <a th:case="OPEN" th:href="@{../list?status=OPEN}">Back</a>
    <a th:case="IN_PROGRESS" th:href="@{../list?status=IN_PROGRESS}">Back</a>
    <a th:case="CLOSE" th:href="@{../list?status=CLOSE}">Back</a>
</div>
</body>
</html>