<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/tickets.css}">
</head>
<body>

<div id="mySidenav" class="sidenav">
    <form action="/me/profile" method="GET">
        <button class="sidelink" type="submit">User</button>
    </form>
    <form action="/projects" method="GET">
        <button class="sidelink" type="submit">Projects</button>
    </form>
    <form action="/auth/logout" method="POST">
        <button style="margin-top: 640px;" class="sidelink" id="logout" type="submit">Logout</button>
    </form>
</div>

<div th:switch="${user}" class="tickets">
    <h2 th:case="null">Something go wrong!</h2>
    <h2 th:case="*">My profile</h2>
    <form action="#" th:action="@{./delete/{id}(id=${user.id})}" method="post">
        <button id="postBtn" style="width:10%;" type="submit">Delete profile</button>
    </form>
    <table>
        <thead>
        <tr>
            <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Login</td>
            <td th:text="${user.login}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td th:text="${user.email}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>