<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" th:href="@{/tickets.css}">
</head>
<body>
<div id="mySidenav" class="sidenav">
    <form action="/me/profile" method="GET">
        <button class="sidelink" type="submit">User</button>
    </form>
    <form action="./create" method="GET">
        <button class="sidelink" type="submit">Create Project</button>
    </form>
    <form action="/auth/logout" method="POST">
        <button class="sidelink" style="margin-top: 640px;" id="logout" type="submit">Logout</button>
    </form>
</div>
<div class="tickets">
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td><a th:href="@{project/{id}/tickets/list?status=OPEN(id=${project.id})}" th:text="${project.title}"></a></td>
            <td><a th:href="@{update_project/{id}(id=${project.id})}">Edit</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>