<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update project</title>
</head>
<body>
<form action="#" th:action="@{/update_project}" th:object="${project}" method="post" id="project_form">
    <label for="id">ID</label>
    <input readonly type="text" th:field="*{id}" th:value="*{id}" id="id"/>
    <br/><br/>
    <label for="title">Title</label>
    <input type="text" th:field="*{title}" th:value="*{title}" id="title" name="title"/>
    <br/><br/>
    <input type="submit" value="Update Project"/>
</form>
<br/><br/>
<form action="#" th:action="@{/update_project_add}" method="post" id="project_form_add">
    <input hidden type="text" th:value="${project.id}" id="id_add" name="id"/>
    <label for="title">User Login</label>
    <input type="text" id="user_login_add" name="user_login"/>
    <br/><br/>
    <input type="submit" value="Add to project"/>
</form>
<br/><br/>
<form action="#" th:action="@{/update_project_remove}" method="post" id="project_form_remove">
    <input hidden type="text" th:value="${project.id}" id="id_remove" name="id"/>
    <label for="title">User Login</label>
    <input type="text" id="user_login_remove" name="user_login"/>
    <br/><br/>
    <input type="submit" value="Remove from project"/>
</form>
</body>
</html>